@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

* {
    box-sizing: border-box;
}

.profile {
    position: relative;
    margin: 0 auto;
    top: 8px;
    border: 4px black solid;
    width: 400px;
}

h1 {
    font-family: "Noto Sans";
}

#intro {
    margin: 10px 20px;
}

#intro-para {
    display: block;
    font-family: Serif;
    font-family: "Andale Mono";
    font-weight: 500;
}

.s-1 {
    display: flex;
    gap: 20px
}

.s {
    border-radius: 6px;
    margin: 0;
    margin-bottom: 6px;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
}

.s-2 {
    display: flex;
    gap: 20px;
}
