@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

* {
    box-sizing: border-box;
}

.profile {
    position: relative;
    top: 60px;
    left: 60px;
    border: 4px black solid;
    width: 428px;
}

h1 {
    font-family: "Noto Sans";
}

#intro {
    margin: 10px 20px;
}

#intro-para {
    display: block;
    font-family: Serif;
    font-family: "Andale Mono";
    font-weight: 500;
}

.s-1 {
    display: flex;
    gap: 20px
}

.s {
    border-radius: 6px;
    margin: 0;
    margin-bottom: 6px;
    padding: 5px;
    font-weight: bold;
}

.s--1 {
    background-color: green;
}

.s--2 {
    background-color: orange;
}

.s--3 {
    background-color: tomato;
}

.s-2 {
    display: flex;
    gap: 20px;
}

.s--4 {
    background-color: yellowgreen;
}

.s--5 {
    background-color: cyan;
}